body{
    background-color: #f6f6f6;
}

.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    margin-top: -50px;
    position: fixed;
    padding-bottom: 10px;
}

.left-section{
    height: 100%;
    width: 25%;
    display: flex;
    /* This will align verticaly */
    align-items: center;
    justify-content: space-around;
}

.search-section{
    height: 80%;
    width: 50%;
    margin-top: 10px;
    margin-left: 5%;
}

.right-section{
    height: 100%;
    width: 20%;
    margin-left: 10%;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 45%;
}

.input-box{
    width: 100%;
    height: 90%;
    background-color: white;
    border: 1px solid rgb(216,210,210) ;
    border-radius: 20px;
}
.drop-down{
    height: 100%;
    font-size: 15px;
    border: 0px;
    background: transparent;
}

.content{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
}

.side-nav{
    position: fixed;
    width: 15%;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 40px;
}

.album-list{
    width: 85%;
    margin-left: 230px;
    margin-top: -480px;
}
.browse{
    margin-bottom: 25px;
    color: #828da8;
    margin-left: 10px;
}
.lib{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #828da8;
}
.menu2{
    margin-left: 10px;
    margin-bottom: 15px;
    color: #3e3e3e;
}
.icon{
    margin-right: 10px;
    font-size: 20px;
}

.menu{
    margin-left: 10px;
    margin-bottom: 15px;
    color: #3e3e3e;
}

.playlist-button{
    border: 1px solid #2bc5b4;
    border-radius: 20px;
    color: #2bc5b4;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 15px 8px 15px;
}



.trending{
    color: #3e3e3e;
    font-size: 20px;
}

.movie-list{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.movie-list2{
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 15px;
}

.album{
    text-align: center;
    color: #3e3e3e;
    margin: 0px;
}

.fans{
    text-align: center;
    margin: 0px;
}



/* bottom line */
.live-music{
    display: flex;
    width: 100%;
    position: fixed;
    height: 70px;
    justify-content: space-between;
    bottom: 0px;
}


.left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;

}

.center{
    width: 20%;
    height: 100%;
    color:#3e3e3e;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.right{
    width: 20%;
    height: 100%;
    display: flex;
    color: #3e3e3e;
    align-items: center;
    justify-content: space-around;
}


.live-img{
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 10px;

}